{% extends 'layout.html' %}

{% block body %}
<header>
    {% if message %}
        <div class="alert alert-light" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    <h2>Analysis</h2>
</header>
<main>
    <div class="container">
    {% if new %}
        <ul class="nav nav-underline mb-4" data-bs-theme="dark">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary-emphasis" href="#">Technical</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary-emphasis" href="#">Registry</a>
            </li>
        </ul>

        <div class="container mt-4">
            <div class="row">
                <div class="d-flex flex-row">
                    <h3 class="fs-1">{{ new['title'] }}</h3>

                    <a type="button" class="btn btn-dark ms-2" href="{{ new['url'] }}" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16" style="fill: white;">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                        </svg>
                        <span class="visually-hidden"></span>
                    </a>
                </div>                
            </div>
    
            <p class="fw-light">{{ new['time_published'] }} - {{ new['source'] }}</p>
            {% if new['topics'] %}
                <div class="row mb-3">
                    <div class="d-flex flex-row">
                    {% for topic in new['topics'] %}
                        <span class="border border-white rounded me-2 p-2">{{ topic['topic'] }}</span>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}

            <h4>Article</h4>
            <p class="fw-normal mt-3">{{ new['summary'] }}</p>            

            {% if new['ticker_sentiment'] %}
                <div class="container mt-4">
                    <h3 class="mb-4">Sentiment Analysis</h3>
                    <div class="row">
                    <!-- Loop through assets and create Bootstrap cards -->
                    {% for asset in new['ticker_sentiment'] %}
                        <div class="col-md-6 mb-4">
                        <div class="card bg-dark text-white">
                            <div class="card-body">
                            <h5 class="card-title">Symbol: {{ asset['ticker'] }}</h5>
                            <p class="card-text">Type : {{ asset['type'] }}</p>
                            <p class="card-text">Sentiment : {{ asset['ticker_sentiment_label'] }}</p>
                            <p class="card-text">Sentiment Score: {{ asset['ticker_sentiment_score'] }}</p>
                            </div>
                        </div>
                        </div>
                    {% endfor %}                    
                    </div>
                </div>
            {% endif %}

            <!-- <form action="{{ url_for('market_overview') }}" method="post">
                <input type="hidden" name="data" value="Esto es informacion">
                <button type="submit" class="btn btn-primary">Send data</button>
            </form>    -->
        </div>
    {% else %}
        <p>No new analysis, load error</p>
    {% endif %}
    </div>
</main>
{% endblock %}