{% extends 'layout.html' %}

{% block body %}
<header>
    <h2 class="mb-3">Recent news</h2>
    <hr/>
    <p class="mb-4">Explore the latest analyzed news. Click on the 'Explore Details' button to see more information and insights behind each headline</p>
</header>
<main>
    <div class="shadow mb-4 bg-body-tertiary rounded">
        <div class="accordion" id="accordionExample">
            {% for i in range(10) %}
            <p class="placeholder-glow p-3">
                <span class="placeholder placeholder-lg col-12 mb-2"></span>
            </p>
            {% endfor %}
        </div>
    </div>

    <div id="pagination"></div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Realizar una solicitud AJAX al endpoint de Flask para obtener las noticias
            $.ajax({
                url: '/get_news', // Ruta en Flask para obtener las noticias
                method: 'GET',
                success: function(data) {
                    news = data
                    page = parseInt({{ current_page }})                    
                    newsNumber = news.length

                    const accordionContainer = document.getElementById('accordionExample');

                    accordionContainer.innerHTML = ''

                    news.forEach((noticia, index) => {
                        // Crear elementos del acordeón
                        const accordionItem = document.createElement('div');
                        accordionItem.classList.add('accordion-item');

                        const accordionHeader = document.createElement('h2');
                        accordionHeader.classList.add('accordion-header');

                        const button = document.createElement('button');
                        button.classList.add('accordion-button', 'collapsed');
                        button.setAttribute('type', 'button');
                        button.setAttribute('data-bs-toggle', 'collapse');
                        button.setAttribute('data-bs-target', `#collapse${index + 1}`);
                        button.setAttribute('aria-expanded', 'false');
                        button.setAttribute('aria-controls', `collapse${index + 1}`);

                        // Contenido del botón
                        const divContainer1 = document.createElement('div');
                        divContainer1.classList.add('container', 'text-start');
                        divContainer1.textContent = (page-1)*20 + index + 1;

                        const divContainer2 = document.createElement('div');
                        divContainer2.classList.add('container', 'col-2', 'text-start');
                        divContainer2.textContent = noticia.time_published;

                        const divContainer3 = document.createElement('div');
                        divContainer3.classList.add('container', 'col-6', 'text-start', 'fs-6');                        
                        externalLink = document.createElement('a');
                        externalLink.classList.add('text-reset', 'link-dark', 'link-offset-2', 'link-underline-opacity-25', 'link-underline-opacity-100-hove');
                        externalLink.setAttribute('href', noticia.url);
                        externalLink.setAttribute('target', '_blank');
                        externalLink.textContent = noticia.title;                        

                        divContainer3.appendChild(externalLink);

                        const divContainer4 = document.createElement('div');
                        divContainer4.classList.add('container', 'col-3', 'text-start');

                        noticia.ticker_sentiment.forEach(ticker => {
                            const spanBadge = document.createElement('span');
                            if (ticker.ticker_sentiment_label.includes("Bullish")) {
                                spanBadge.classList.add('badge', 'text-bg-success', 'mb-1', 'me-1');
                            }
                            else if (ticker.ticker_sentiment_label.includes("Bearish")) {
                                spanBadge.classList.add('badge', 'text-bg-danger', 'mb-1', 'me-1');
                            } else {
                                spanBadge.classList.add('badge', 'text-bg-secondary', 'mb-1', 'me-1');
                            }

                            spanBadge.textContent = ticker.ticker;
                            divContainer4.appendChild(spanBadge);
                        });

                        // Adjuntar los elementos al botón
                        button.appendChild(divContainer1);
                        button.appendChild(divContainer2);
                        button.appendChild(divContainer3);
                        button.appendChild(divContainer4);

                        // Adjuntar botón al encabezado del acordeón
                        accordionHeader.appendChild(button);

                        // Crear el cuerpo del acordeón
                        const accordionCollapse = document.createElement('div');
                        accordionCollapse.classList.add('accordion-collapse', 'collapse');
                        accordionCollapse.setAttribute('id', `collapse${index + 1}`);
                        accordionCollapse.setAttribute('data-bs-parent', '#accordionExample');

                        const accordionBody = document.createElement('div');
                        accordionBody.classList.add('accordion-body');
                        //accordionBody.innerHTML = `${noticia.summary}`;
                        const analysisLink = document.createElement('a');
                        analysisLink.setAttribute('type', 'button');
                        analysisLink.classList.add('btn', 'btn-outline-dark');
                        analysisLink.setAttribute('href', '/new/' + (index + 1)); // Adjust href as per your Flask route
                        analysisLink.textContent = 'Explore Details';
                        accordionBody.appendChild(analysisLink);

                        // Adjuntar cuerpo al colapso del acordeón
                        accordionCollapse.appendChild(accordionBody);

                        // Adjuntar encabezado y colapso al ítem del acordeón
                        accordionItem.appendChild(accordionHeader);
                        accordionItem.appendChild(accordionCollapse);                        

                        // Adjuntar ítem del acordeón al contenedor principal
                        accordionContainer.appendChild(accordionItem);
                    });                    

                    const paginationContainer = document.getElementById('pagination')

                    const pag = document.createElement('div')
                    pag.classList.add('d-flex', 'justify-content-center')

                    const navContainer = document.createElement('nav')
                    navContainer.setAttribute('aria-label', 'Page navigation example')

                    const ulContainer = document.createElement('ul')
                    ulContainer.classList.add('pagination')

                    const liPreviousContainer = document.createElement('li')
                    liPreviousContainer.classList.add('page-item')

                    const pageItemPrevious = document.createElement('a')
                    pageItemPrevious.classList.add('page-link')
                    pageItemPrevious.setAttribute('href', '/?page=' + parseInt(page-1))
                    pageItemPrevious.setAttribute('aria-label', 'Previous')
                    if (page <= 1) {
                        pageItemPrevious.classList.add('disabled');
                    }
                    const spanPrevious = document.createElement('span')
                    spanPrevious.setAttribute('aria-hidden', 'true')
                    spanPrevious.textContent = '«'
                    pageItemPrevious.appendChild(spanPrevious)
                    liPreviousContainer.appendChild(pageItemPrevious)

                    const liFirstItemPage = document.createElement('li')

                    const pageItemFirst = document.createElement('a')
                    pageItemFirst.classList.add('page-link')
                    pageItemFirst.setAttribute('href', '/?page=' + parseInt(page))
                    pageItemFirst.textContent = page
                    liFirstItemPage.appendChild(pageItemFirst)

                    const liNextContainer = document.createElement('li')
                    liNextContainer.classList.add('page-item')

                    const pageItemNext = document.createElement('a')
                    pageItemNext.classList.add('page-link')
                    pageItemNext.setAttribute('href', '/?page=' + parseInt(page+1))
                    pageItemNext.setAttribute('aria-label', 'Next')
                    const spanNext = document.createElement('span')
                    spanNext.setAttribute('aria-hidden', 'true')
                    spanNext.textContent = '»'
                    if (newsNumber < 20 || page >= 5) {
                        pageItemNext.classList.add('disabled');
                    }
                    pageItemNext.appendChild(spanNext)
                    liNextContainer.appendChild(pageItemNext)

                    ulContainer.appendChild(liPreviousContainer)
                    ulContainer.appendChild(liFirstItemPage)
                    ulContainer.appendChild(liNextContainer)
                    navContainer.appendChild(ulContainer)
                    pag.appendChild(navContainer)
                    paginationContainer.appendChild(pag)
                },
                error: function(error) {
                    console.log('Error when get news: ', error);
                }
            });
        });
    </script>
</main>
{% endblock %}