{% extends 'layout.html' %}

{% block body %}
<header>    
    <h2>Portfolio</h2>
    <hr/>
</header>
<main>
    <p>Explore 12 distinctive portfolios designed based on sentiment, risk tolerance, and short-selling preferences. Each portfolio tells a nuanced story of how news-driven insights guide strategic investment decisions.</p>

    <div class="btn-group" role="group">
        <input type="radio" class="btn-check" data-bs-toggle="collapse" data-bs-target=".multi-collapse" href="#multiCollapseHighSentiment" role="button" aria-expanded="true" aria-controls="multiCollapseHighSentiment multiCollapseLowSentiment" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-dark" for="btnradio1">High Sentiment</label>
      
        <input type="radio" class="btn-check" data-bs-toggle="collapse" data-bs-target=".multi-collapse" href="#multiCollapseLowSentiment" role="button" aria-expanded="false" aria-controls="multiCollapseHighSentiment multiCollapseLowSentiment" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-dark" for="btnradio2">Low Sentiment</label>
    </div>          

    <div id="multiCollapseHighSentiment" class="multi-collapse collapse show">

        <h3 class="mt-4 mb-4">High Sentiment</h3>
        <div class="row justify-content-center m-1">
    
            <div class="container col-lg-5 border rounded-4 shadow m-2 text-center">
                <div class="text-start mt-4 ms-4 fs-5 fw-semibold">
                    All risks, short allowed
                </div>
                <div id="balance-1" class="">
                    <br><br><br><br><br><br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-5" role="status">
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <!-- <div class="container col-lg-5 border rounded-4 shadow m-2 text-center">
                <div class="text-start mt-4 ms-4 fs-5 fw-semibold">
                    Medium risk, short allowed
                </div>
                <div id="balance-2">
                    <br><br><br><br><br><br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-5" role="status">
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <div class="container col-lg-5 border rounded-4 shadow m-2 text-center">
                <div class="text-start mt-4 ms-4 fs-5 fw-semibold">
                    Low risk, short allowed
                </div>
                <div id="balance-3">
                    <br><br><br><br><br><br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-5" role="status">
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <div class="container col-lg-5 border rounded-4 shadow m-2 text-center">
                <div class="text-start mt-4 ms-4 fs-5 fw-semibold">
                    All risks, short not allowed
                </div>
                <div id="balance-4">
                    <br><br><br><br><br><br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-5" role="status">
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <div class="container col-lg-5 border rounded-4 shadow m-2 text-center">
                <div class="text-start mt-4 ms-4 fs-5 fw-semibold">
                    Medium risk, short not allowed
                </div>
                <div id="balance-5">
                    <br><br><br><br><br><br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-5" role="status">
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <div class="container col-lg-5 border rounded-4 shadow m-2 text-center">
                <div class="text-start mt-4 ms-4 fs-5 fw-semibold">
                    Low risk, short not allowed
                </div>
                <div id="balance-6">
                    <br><br><br><br><br><br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-5" role="status">
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div> -->
        </div>
    </div>
    
    <div id="multiCollapseLowSentiment" class="multi-collapse collapse">
        <div class="row justify-content-center m-1">
            <h3 class="mt-4 mb-4">Low Sentiment</h3>
<!--     
            <div class="container col-lg-5 border rounded-4 shadow m-2 text-center">
                <div class="text-start mt-4 ms-4 fs-5 fw-semibold">
                    All risks, short allowed
                </div>
                <div id="balance-7" class="">
                    <br><br><br><br><br><br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-5" role="status">
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <div class="container col-lg-5 border rounded-4 shadow m-2 text-center">
                <div class="text-start mt-4 ms-4 fs-5 fw-semibold">
                    Medium risk, short allowed
                </div>
                <div id="balance-8">
                    <br><br><br><br><br><br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-5" role="status">
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <div class="container col-lg-5 border rounded-4 shadow m-2 text-center">
                <div class="text-start mt-4 ms-4 fs-5 fw-semibold">
                    Low risk, short allowed
                </div>
                <div id="balance-9">
                    <br><br><br><br><br><br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-5" role="status">
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <div class="container col-lg-5 border rounded-4 shadow m-2 text-center">
                <div class="text-start mt-4 ms-4 fs-5 fw-semibold">
                    All risks, short not allowed
                </div>
                <div id="balance-10">
                    <br><br><br><br><br><br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-5" role="status">
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <div class="container col-lg-5 border rounded-4 shadow m-2 text-center">
                <div class="text-start mt-4 ms-4 fs-5 fw-semibold">
                    Medium risk, short not allowed
                </div>
                <div id="balance-11">
                    <br><br><br><br><br><br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-5" role="status">
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <div class="container col-lg-5 border rounded-4 shadow m-2 text-center">
                <div class="text-start mt-4 ms-4 fs-5 fw-semibold">
                    Low risk, short not allowed
                </div>
                <div id="balance-12">
                    <br><br><br><br><br><br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-5" role="status">
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div> -->
        </div>
    </div>

    <br>
    <h3 class="mt-4 mb-4">All orders</h3>
    <p class="mb-4">Last 10 completed orders</p>

    <div class="shadow mb-4 bg-body-tertiary rounded">
        <div class="accordion" id="accordionExample">
            {% for i in range(10) %}
            <p class="placeholder-glow p-3">
                <span class="placeholder placeholder-lg col-12 mb-2"></span>
            </p>
            {% endfor %}
        </div>
    </div>    
</main>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    window.addEventListener('resize', function(event) {        
        $.getJSON({
            url: "/callback_graph_balance_1", success: function (result) {                    
                Plotly.newPlot('balance-1', result, {staticPlot: true});
            }
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {            
        $.ajax({                
            url: '/get_balances', // Ruta en Flask para obtener las noticias
            method: 'GET',

            success: function(data) {                                
                balance1 =  JSON.parse(data[0])
                
                const c1 = document.getElementById('balance-1');
                c1.innerHTML = ''               
                
                Plotly.newPlot('balance-1', balance1)           
            },
            error: function(error) {
                console.log('Error al obtener las graficas:', error);
            }
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Realizar una solicitud AJAX al endpoint de Flask para obtener las noticias
            $.ajax({
                url: '/get_orders', // Ruta en Flask para obtener las noticias
                method: 'GET',
                success: function(orders) {
                    const accordionContainer = document.getElementById('accordionExample');

                    accordionContainer.innerHTML = ''

                    orders.forEach((order, index) => {
                        // Crear elementos del acordeón
                        const accordionItem = document.createElement('div');
                        accordionItem.classList.add('accordion-item');

                        const accordionHeader = document.createElement('h2');
                        accordionHeader.classList.add('accordion-header');

                        const button = document.createElement('button');
                        button.classList.add('accordion-button', 'collapsed');
                        button.setAttribute('type', 'button');
                        button.setAttribute('data-bs-toggle', 'collapse');
                        button.setAttribute('data-bs-target', `#collapse${index + 1}`);
                        button.setAttribute('aria-expanded', 'false');
                        button.setAttribute('aria-controls', `collapse${index + 1}`);                        

                        const divContainerDate = document.createElement('div');
                        divContainerDate.classList.add('container', 'col-2', 'text-start', 'd-none', 'd-lg-block');

                        var dateString = order.date;

                        // Create a date object
                        var date = new Date(dateString);

                        // Get date components
                        var day = date.getUTCDate();
                        var month = date.getUTCMonth() + 1; // Months in JavaScript are 0 to 11
                        var year = date.getUTCFullYear() % 100; // Get only the last two digits of the year
                        var hours = date.getUTCHours();
                        var minutes = date.getUTCMinutes();
                        var seconds = date.getUTCSeconds();

                        // Format the date according to your specifications
                        var formattedDate = `${day}/${month}/${year < 10 ? '0' : ''}${year} ${hours < 10 ? '00' : hours}:${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;

                        divContainerDate.textContent = formattedDate;                

                        const divContainerTicker = document.createElement('div');
                        divContainerTicker.classList.add('container', 'col-1', 'text-start', 'fs-6');                        
                        externalLink = document.createElement('span');                                                
                        divContainerTicker.textContent = order.ticker;

                        const divContainerDirection = document.createElement('div');
                        divContainerDirection.classList.add('container', 'col-1', 'text-start');
                        if (order.direction == 0) {
                            divContainerDirection.textContent = "LONG"
                        }
                        else {
                            divContainerDirection.textContent = "SHORT"
                        }                        

                        const divContainerPl = document.createElement('div');
                        divContainerPl.classList.add('container', 'col-1', 'text-start');
                        divContainerPl.textContent = Math.round(order.pl_percent * 100) / 100 + "%"

                        const divContainerTerm = document.createElement('div');
                        divContainerTerm.classList.add('container', 'col-1', 'text-start', 'd-none', 'd-lg-block');
                        divContainerTerm.textContent = order.term                                         

                        // Adjuntar los elementos al botón                        
                        button.appendChild(divContainerDate)
                        button.appendChild(divContainerTicker)
                        button.appendChild(divContainerDirection)                        
                        button.appendChild(divContainerPl)
                        button.appendChild(divContainerTerm)                 
                        
                        // Adjuntar botón al encabezado del acordeón
                        accordionHeader.appendChild(button);

                        // Crear el cuerpo del acordeón
                        const accordionCollapse = document.createElement('div');
                        accordionCollapse.classList.add('accordion-collapse', 'collapse');
                        accordionCollapse.setAttribute('id', `collapse${index + 1}`);
                        accordionCollapse.setAttribute('data-bs-parent', '#accordionExample');

                        const accordionBody = document.createElement('div');
                        accordionBody.classList.add('accordion-body');

                        const detailsContainer = document.createElement('div');
                        detailsContainer.classList.add('flex', 'justify-content-start', 'm-2')
                        const textTicker = document.createElement('span')
                        textTicker.classList.add('row')
                        textTicker.textContent = 'Ticker: ' + order.ticker

                        const textExchange = document.createElement('span')
                        textExchange.classList.add('row')
                        textExchange.textContent = 'Exchange: ' + order.exchange

                        const textDirection = document.createElement('span')
                        textDirection.classList.add('row')
                        textDirection.textContent = 'Direction: ' + divContainerDirection.textContent

                        const textRisk = document.createElement('span')
                        textRisk.classList.add('row')
                        textRisk.textContent = 'Risk: ' + order.risk

                        const newLink = document.createElement('a');
                        newLink.setAttribute('type', 'button');
                        newLink.classList.add('btn', 'btn-outline-dark', 'row',  'mt-2');
                        newLink.textContent = 'View New';

                        newLink.addEventListener('click', function(event) {
                            event.preventDefault();  // Evita la recarga de la página

                            // Datos a enviar al backend
                            const data = order.new_ref

                            // Enviar datos al backend usando AJAX
                            fetch('/order_new', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(data)
                            })
                            .then(data => {
                                window.location.href = '/new/1';
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        });

                        detailsContainer.appendChild(textTicker);
                        detailsContainer.appendChild(textExchange);
                        detailsContainer.appendChild(textDirection);
                        detailsContainer.appendChild(textRisk);
                        detailsContainer.appendChild(newLink);
                        accordionBody.appendChild(detailsContainer);


                        // Adjuntar cuerpo al colapso del acordeón
                        accordionCollapse.appendChild(accordionBody);

                        // Adjuntar encabezado y colapso al ítem del acordeón
                        accordionItem.appendChild(accordionHeader);
                        accordionItem.appendChild(accordionCollapse);                        

                        // Adjuntar ítem del acordeón al contenedor principal
                        accordionContainer.appendChild(accordionItem);
                    });                    
                },
                error: function(error) {
                    console.log('Error when get orders: ', error);
                }
            });
        });
    </script>
{% endblock %}